#counterLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-weight: bolder;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: aliceblue;
    background-color: rgb(59, 179, 179);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(7, 66, 66);
}